.format {
    color:yellow;
    background:blueviolet;
}

@media screen and (max-width:768px) {
    .format {
        color:green;
        background: grey;
    }
}

@media screen and (max-width:575px) {
    .format {
        color:darkolivegreen;
        background:darkred;
    }
}

.heading{
    padding-top: 40px;
}

body{
    background-color: rgb(177, 93, 244);
   
}
header {
    background-color: rgb(188, 140, 245) !important;
    color: white;
}